{% extends "layout.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block content %}


<div class="container">
    <h1>{{ item.name }}</h1>
    
    <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}">
    <p>RFID: {{ item.rfid }}</p>
    <p>Gewicht: {{ item.weight }}</p>
    <p>Min gewicht: {{ item.weight_min }}</p>
    <p>Max gewicht: {{ item.weight_max }}</p>

    <a href="/">Terug</a>
</div>

{% endblock %}